# TOP 5 BOOKS RECOMMENDATION SYSTEM


<img src="books.jpg" alt="Books" width="700" height = "300"/>

| | GROUP MEMBERS | GITHUB | 
| --- | --- | --- |
| 1. | MAUREEN WAMBUGU | https://github.com/Mau-Wambugu |
| 2. | STEPHEN WAWERU | https://github.com/stendewa|
| 3. | LYDIA NJERI | https://github.com/lydiahsherry23 |
| 4. | LILIAN MULI | https://github.com/mwikali24 |
| 5. | PETER MAINA | https://github.com/Mr-PeterMaina |

## 1. BUSINESS UNDERSTANDING

> PROJECT OVERVIEW
* **Recommendation systems** are powerful tools that use machine learning algorithms to provide relevant suggestions to users based on behaviour patterns or user data.  
* **A Book Recommendation System** is a recommendation system where we recommend similar books to readers based on their interests.
* Recommendation systems help drive engagement, increase sales, increases revenue and this in return brings in loyal clients as the customer experience is elevated promoting customer satisfaction.
* We have 2 main recommendation system models:  
    * 1. Collaborative filtering  
    * 2. Content-based Filtering
> BUSINESS PROBLEM  
* Over the past years, there has been rise in huge ecommerce and online services leading clients facing difficulty when searching for the right products.
* Clients looking to purchase books also face the same struggle when trying to match the right books with their taste and preferences.
* **The Business Problem** is to develop a recommendation system that recommends books that are tailored to our users preferences inorder to improve customer experience and increase revenue.
> PROJECT OBJECTIVE
1. To build a book recommendation system that provides personalized suggestions to our users.
2. Improve sales by showcasing books a user is most likely to buy.
3. Offer relevant books to users inorder to improve customer retention.
4. Increase customer engagement
> DATA SOURCE   
* We used data obtained from [Kaggle]("https://www.kaggle.com/datasets/somnambwl/bookcrossing-dataset/data") mined by Cai-Nicolas Ziegler
* It contains 3 CSV Files:
    1. Books.csv - contains information about books{ISBN;Title;Author;Year;Publisher}
    2. Ratings.csv - contains book ratings provided by users  that range from 0 to 10. {{User-ID;ISBN;Rating}}
    3. Users.csv - contains information about the users {User-ID;Age}
> STAKEHOLDERS
1. Customers
* As the end user, they expect accurate book suggestions based on personal interests.
1. Marketing team
* They would want to do targeted advertising on specific books and also promote personalized offers.
1. Data scientist
* Interested in ensuring the recommendation system models are accurate and scalable.
1. Book Authors
* They would be interested in knowing how their books are recommended inorder to learn and understand their readers taste and preferences.
1. Executive {CEO}
* They would want to understand how recommendation systems impact revenue and customer retention comparing it to the budget allocated to the project.
> METHODOLOGY
* Our project will focus on the CRISP-DM:  
    1. Business Understanding
    2. Data Understanding
    3. Data Preparation
    4. Modeling
    5. Evaluation
    6. Deployment

## DATA UNDERSTANDING

In [2]:
import numpy as np
import pandas as pd

In [5]:
#Read the datasets
Books = pd.read_csv(r'C:\Users\Admin\Documents\MoringaLabs\Phase4Project2\PHASE-4\DATA\Books.csv',low_memory= False)
Books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
#Read the ratings dataset
Ratings = pd.read_csv(r'C:\Users\Admin\Documents\MoringaLabs\Phase4Project2\PHASE-4\DATA\Ratings.csv',low_memory=False)
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
#Read the users dataset
Users = pd.read_csv(r'C:\Users\Admin\Documents\MoringaLabs\Phase4Project2\PHASE-4\DATA\Users.csv',low_memory=False)
Users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

##### From our datasets above,The ratings and users table share a common column that is User-ID.Use the merge function to perform a join on both dataframes on the userID column and retain the following columns UserID, bookrating,ISBN and age.

In [9]:
#perform the merge based on 'User-ID'
merged_df = pd.merge(Ratings,Users[['User-ID','Age']],on='User-ID',how='inner')
#keep only the selected columns
merged_df = merged_df[['User-ID','Book-Rating','Age','ISBN']]
merged_df

         User-ID  Book-Rating   Age         ISBN
0         276725            0   NaN   034545104X
1         276726            5   NaN   0155061224
2         276727            0  16.0   0446520802
3         276729            3  16.0   052165615X
4         276729            6  16.0   0521795028
...          ...          ...   ...          ...
1149775   276704            9   NaN   1563526298
1149776   276706            0  18.0   0679447156
1149777   276709           10  38.0   0515107662
1149778   276721           10  14.0   0590442449
1149779   276723            8  12.0  05162443314

[1149780 rows x 4 columns]